#main {
	
	  background-image: url("i/pm.jpg");
   background-color: #cccccc;
	min-height: 500px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-size: cover;
	padding-top: 200px;



}
#main h1{

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px
	background-size: cover;
	font-size: 3.5rem; 
	text-align: center;
	text-decoration-color: 0;
	color: white;


}
#main h2{

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px
	background-size: cover;
	font-size: 1.5rem; 
	text-align: center;

  
}
#faceAlign {
  width: 800px;
  height: 300px;
  border: 0px solid black; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article{
	justify-content: center;
	justify-content: space-around;
	align-content: stretch;
	align-content: center;
	margin-left: 80px;
	margin-right: 80px;
}

.card{
	background-image: black;
	justify-content: center;
	justify-content: space-around;
	align-content: stretch;
}

.card-title h5{
	color: white;
}

.card-text p{
	color: white;
}
.table1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.table2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	

}

/*.AboutMe{
	float: right;
	border-style: 1px solid black;
	justify-content: space-between;
}*/
.AboutMe{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.AboutMeDesc{
	color: white;
}

#appointment{
border-style: 1px solid black;
}

#appointment h3{
	color: white;
}

#appointment h6{
	color: white;
}

#About{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.picAboutme img{
height: : 50%;
width: 50%;
}



.picwork img{
height: 200%;
width: 70%;
float: right;
}

.product{
	justify-content: space-between;
}
/*.jumbotron{
	border-style: solid black 3px;
	border-color: 5px solid black;
	background-color: gray;
	display: flex;
	flex-direction: row;
}

 .art-title{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;


}

.art-pic {
float: left;
overflow: hidden;
height: 200px;
width: 200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.art-pic img{
	float: left;
	height: 100%;
	min-width: 100%;
	overflow: hidden;

}

.container1{
	display: flex;
	flex-direction: row;
}

.container2{
	display: flex;
	flex-direction: row;
}*/
/*.card{
	border-style: 3px solid black;
	border-color: 1px solid black;
}

.card .card-img-top{
overflow: hidden;
height: 200px;
width: 200px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

 .card-img-top img{
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
}*/

#About{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.picAboutme img{
height: : 50%;
width: 50%;
}

.AboutMe{
	float: right;
	border-style: 1px solid black;
	justify-content: space-between;
}

#appointment{
border-style: 1px solid black;
}

.picwork img{
height: 50%;
width: 50%;
float: right;
}

.product{
	justify-content: space-between;
}